header {
    background: red;
    padding: 10px 51px;
    font-size: 20px;
    text-align: right;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}